.App {
  text-align: center;
  height: 1000px;
  width: 1000px;
}

#grid{
  display : grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  width: 430px;
  height: 430px;
  grid-gap: 10px;
}

#revert{
  height: 50px;
  width: 100px;
  background-color: aqua;
  border-radius: 10px;
  font-size: 1.5rem;
  text-align: center;
  vertical-align: text-bottom;
  line-height: 50px;
}

#scoreboard{
  height:50px;
  width: 200px;
  border-radius: 10px;
  font-size: 1.5rem;
  background-color: aqua;
  text-align: left;
  line-height: 50px;
  padding-left: 20px;
}

#highscore{
  height:50px;
  width: 200px;
  border-radius: 10px;
  font-size: 1.5rem;
  background-color: aqua;
  text-align: left;
  line-height: 50px;
  padding-left: 20px;
}

#result{
  height:50px;
  width: 200px;
  border-radius: 10px;
  font-size: 1.5rem;
  background-color: aqua;
  text-align: left;
  line-height: 50px;
  padding-left: 20px;
}