.App {
  text-align: center;
  height: 1000px;
  width: 1000px;
}

#grid{
  display : grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  width: 430px;
  height: 430px;
  grid-gap: 10px;
}

#revert{
  height: 50px;
  width: 100px;
  background-color: aqua;
}